html {
	min-height: 100%
}
body{
    background: #383838;
	background:-moz-linear-gradient(100% 100% 90deg,#383838, #212121) ;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#212121), to(#383838));
    font-family: arial, verdana;	
}
#page_wrap{
	width: 920px;
	margin:0 auto;
	background-color: #e3e3e3;
	overflow:auto;
	padding:3px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#main_content{
	width: 650px;
	float: right;
}
#left_content{
	width: 250px;
	float: left;
}

#loginform{
    width: 300px;
    background: #f0f0f0;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
    border: 1px solid white;
    margin: 250px auto 0;
    padding: 1em;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	box-shadow: 0px 0px 20px #000000;
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
}

#loginform h1{
    margin-top: 0;    
    text-align: center;
	color:#fff;
	text-shadow:1px 1px 2px #000;
}
#loginform input[type=text], #loginform input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 280px;
    border: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em;
}

#loginform input[type=submit]{
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: -moz-linear-gradient(25% 65% 90deg,#77a90d, #83c210, #95d620 53%,#94d61b 100%); /*#348075;*/
	background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#83C210), to(#77A90D), color-stop(.3,#94D61B),color-stop(.5,#95D620));
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
	text-shadow:1px 1px 1px #000;
	cursor:pointer;
}

#favorites_list{
    background-color: #ffffff;
    border: #000000 solid 1px;
    /*width: 650px;*/
    padding: 2px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#favorites_list > h4{
	margin:2px;
}
#favorites_list > ul > li > .poster{
	float:left;
	max-height:80px;
}	
#favorites_list > ul {
    list-style: none;
    padding: 0;
	margin:2px;
}
#favorites_list > ul > li{
    background-color: #0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
    margin: 5px 0;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	overflow:auto;		
}

#favorites_list li h3{
    cursor: pointer;
    color: #ffffff;
	margin-top:2px;
	padding-left:65px;
	text-shadow: 1px 1px 2px #000
}

#favorites_list .episodeTitle{
	cursor:pointer;
}

.seriesUnseenCount{
    background-color: #ffffff;
    font-size: 9pt;
    float: right;
    width: 30px;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;	
}

.seriesEpisodeList{
    background-color: #ffffff;
    display: none;
    list-style: none;
    padding: 0;
	margin-top:60px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.seriesEpisodeListSeason{
    background-color: #0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
	color:#f3f3f3;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.downloadButton{
    background-color: #c4c4c4;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
	cursor:pointer;
}

.downloadedButton{
    background-color: #82D23D;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
	cursor:pointer;
}

.unSeenButton{
    background-color: #c4c4c4;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
	cursor:pointer;
}

.seenButton{
    background-color: #82D23D;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
	cursor:pointer;
}

.notFavoriteButton{
    background-color: #fff;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
	cursor:pointer;
	margin-right:5px;
}

.favoriteButton{
    background-color: #82D23D;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
	cursor:pointer;
	margin-right:5px;
}

#latest_episodes_list{
	background-color: #ffffff;
   	border: #000000 solid 1px;   	
   	padding: 2px;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
}

#latest_episodes_list ul {
	list-style: none;
    padding: 0;
	margin:2px;
}

#latest_episodes_list li{
    background-color: #0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
    margin: 1;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#latest_episodes_list .episode_title{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}

#latest_episodes_list .episode_info{
	color:#f3f3f3;
	font-size:8pt;
}

#latest_episodes_list h4{
	margin:2px;
}

#nav_bar{	
	background-color:#ffffff;
	border: #000000 solid 1px;
	border-radius:4px;
	-moz-border-radius:4px;	
	-webkit-border-radius:4px;
	margin:2px;
	padding:5px;
}

#main_menu ul{
	list-style:none;
	margin:0;
	padding:0;

}

#main_menu li{
	display:inline;
	background-color:#0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
	text-align:center;
	width:250px;
	padding: 4px 10px;	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#main_menu li a{
	text-decoration:none;
	color:#ffffff;
	font-size:10pt;
	font-weight:bold;
}
#main_menu li a:hover, #latest_episodes_list .episode_title:hover, #favorites_list li h3:hover, #paging a:hover, #series_list li h3:hover{
	color:#90d514;
}

#top_search{
	float:right;
	white-space:nowrap;	
}

#top_search input[type=text] {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0px 0px 1px #000000;
	-moz-box-shadow: 0px 0px 1px #000000;
	-webkit-box-shadow: 0px 0px 1px #000000;
	margin-right:5px;
}

#top_search input[type=submit]{
    border: none;
    margin-right: 1em;
    padding: 2px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: -moz-linear-gradient(25% 65% 90deg,#77a90d, #83c210, #95d620 53%,#94d61b 100%); /*#348075;*/
	background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#83C210), to(#77A90D), color-stop(.3,#94D61B),color-stop(.5,#95D620));
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
	text-shadow:1px 1px 1px #000;
	cursor:pointer;
}

#popup_background{
	display:none;
	background: #000;
	position: fixed; 
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: .80;	
	z-index: 9001;
}
#popup_window{
	display:none;
	position:absolute;
	background-color:#ffffff;	
	z-index: 9002;
	box-shadow: 0px 0px 20px #000000;
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	border-radius:5px;
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	min-width:400px;
	min-height:300px;
}
#episode_popup{
	background-color:#0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B)); 
	border: 5px solid #fff;
	border-radius:5px;
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	width:500px;
	min-height:300px;
	color:#fff;
}

#episode_popup .poster{
	float:left;
	padding:2px;
	margin:2px 10px 2px 2px;
	background-color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;	
	-webkit-border-radius:3px;
	max-width:100px;
	max-height:150px;
}

#episode_popup h3 {
	color:#fff;
	text-shadow:1px 1px 2px #000;
}

#episode_popup p{
	margin:0px 5px 0px 5px;
}

#episode_popup .unSeenButton , #episode_popup .downloadButton{
	float:left;
	background-color:#fff;
	margin:0px 5px 0px 0px;
}

#episode_popup .seenButton, #episode_popup .downloadedButton{
	float:left;
	margin:0px 5px 0px 0px;
}

.close_btn{		
	font-weight:bold;
	color:#0D5995;
	padding:2px;
	margin-top:8px;
	margin-right:10px;
	width:20px;
	height:20px;
	float:right;
	background-color:#fff;
	text-align:center;
	border-radius:50px;
	-moz-border-radius:50px;	
	-webkit-border-radius:50px;
	cursor:pointer;
	box-shadow: 0px 0px 10px #000000;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
}

#paging{
	text-align:center;
	color:#fff;
	background-color:#0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#paging a{
	color: #fff;
	text-decoration:none;	
}

#paging strong{
	
	color:#90d514;
}

#series_list{
    background-color: #ffffff;
    border: #000000 solid 1px;
    /*width: 650px;*/
    padding: 2px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#series_list > h4{
	margin:2px;
}

#series_list > ul > li > .poster{
	float:left;
	max-height:80px;
}
	
#series_list > ul {
    list-style: none;
    padding: 0;
	margin:2px;
}
#series_list > ul > li{
    background-color: #0D5995;
	background: -moz-linear-gradient(100% 100% 90deg,#063F6B, #0D5995);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0D5995), to(#063F6B));
    margin: 5px 0;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	overflow:auto;		
}

#series_list li h3{
    cursor: pointer;
    color: #ffffff;
	margin-top:2px;
	padding-left:65px;
	text-shadow: 1px 1px 2px #000
}

#series_list .episodeTitle{
	cursor:pointer;
}
