body{
    background-color: #383838;
    font-family: arial, verdana;
}
#page_wrap{
	width: 920px;
	margin:0 auto;
	background-color: #e3e3e3;
	overflow:auto;
	padding:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#main_content{
	width: 650px;
	float: right;
}
#left_content{
	width: 250px;
	float: left;
}

#loginform{
    width: 300px;
    background: #f0f0f0;
    border: 1px solid white;
    margin: 250px auto 0;
    padding: 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#loginform h1{
    margin-top: 0;
    font-family: arial black, arial;
    text-align: center;
}
#loginform input[type=text], #loginform input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 280px;
    border: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em;
}

#loginform input[type=submit]{
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webskit-border-radius: 4px;
    background: #348075;
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;

}

#favorites_list{
    background-color: #ffffff;
    border: #000000 solid 1px;
    /*width: 650px;*/
    padding: 2px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#favorites_list > h4{
	margin:2px;
}
#favorites_list > ul > li > .poster{
	float:left;
	max-height:80px;
}	
#favorites_list > ul {
    list-style: none;
    padding: 0;
	margin:2px;
}
#favorites_list > ul > li{
    background-color: #0D5995;
    margin: 5px 0;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	overflow:auto;
}
#favorites_list li h3{
    cursor: pointer;
    color: #ffffff;
}

.seriesUnseenCount{
    background-color: #ffffff;
    font-size: 9pt;
    float: right;
    width: 30px;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;	
}

.seriesEpisodeList{
    background-color: #ffffff;
    display: none;
    list-style: none;
    padding: 0;
	margin-top:40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.seriesEpisodeListSeason{
    background-color: #0D5995;
	color:#f3f3f3;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.downloadButton{
    background-color: #c4c4c4;
    -moz-border-radius:20px;
    -webkit-border-radious:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
}

.unSeenButton{
    background-color: #c4c4c4;
    -moz-border-radius:20px;
    -webkit-border-radious:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
}

.seenButton{
    background-color: #82D23D;
    -moz-border-radius:20px;
    -webkit-border-radious:20px;
    font-size: 9pt;
    color: #000000;
    width: 25px;
    float: right;
    text-align: center;
    text-decoration: none;
}

#latest_episodes_list{
	background-color: #ffffff;
   	border: #000000 solid 1px;   	
   	padding: 2px;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
}

#latest_episodes_list ul {
	list-style: none;
    padding: 0;
	margin:2px;
}

#latest_episodes_list li{
    background-color: #0D5995;
    margin: 1;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#latest_episodes_list .episode_title{
	color:#ffffff;
	font-size:9pt;
	font-weight:bold;
	text-decoration:none;
}

#latest_episodes_list .episode_info{
	color:#f3f3f3;
	font-size:8pt;
}

#latest_episodes_list h4{
	margin:2px;
}